.guide{
	width: 90%;
	margin: 0 auto;
	iframe{
	  width: 100%;
	  height: calc(100vh - 400px);
	  border: none;
	  padding: 10px;
	  margin-top: 15px;
	  background-color: white;
	  margin: 0 auto;
	}
}