@import "../../node_modules/react-image-gallery/src/ImageGallery";


html, body{
	width: 100%;
	background-color: #111;	
	color: #ddd;
	margin: 0;
	padding: 0;
	img{
		border-radius: 1px;
	}
	min-width: 900px;
}

