@import "../../node_modules/react-image-gallery/src/ImageGallery";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic,700italic);


html, body{
	width: 100%;
	background-color: #111;	
	color: #ddd;
	margin: 0;
	padding: 0;
	img{
		border-radius: 1px;
	}
	min-width: 900px;
	h1,h2,h3{
		font-family: 'Lato', sans-serif;	
		font-weight: 400;
	}
	p{
		font-family: 'Lato', sans-serif;	
		font-weight: 300;
	}
	
}


