@import "../../node_modules/react-image-gallery/src/ImageGallery";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic,700italic);


html, body{
	width: 100%;
	background-color: #111;	
	color: #ddd;
	margin: 0;
	padding: 0;
	img{
		border-radius: 1px;
	}
	min-width: 900px;
	h1,h2,h3{
		font-family: 'Lato', sans-serif;	
		font-weight: 400;
	}
	p{
		font-family: 'Lato', sans-serif;	
		font-weight: 300;
	}
	
}

$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

.app {
  // background-color: black;
  .header{
  	img{
  		// height: 200px;
  	}
  }
}
.appContent {
  margin: 50px 0; // for fixed navbar
  clear: both;
  padding: 50px 30px;
  max-width: 1500px;
  margin: 0 auto;
  &:after{
  	display: table;
  	clear:both;
  	content:"";
  }
  position: relative;
}

.logoDiv{
	float: left;
	width: 235px;

}
.mlLogoDiv{
	float: left;
	width: 235px;

}

.topnav{
	float: left; 
	width: calc(100% - 235px);
	font-family: $font-family-sans-serif;
	ul{
		list-style: none;
		line-height: 113px;
		font-size: 18px;
	}
	li{
		float: left;
		padding: 0px 15px;
		color: #ccc;
		text-transform: lowercase;
		a{
			color: #ccc;
			text-decoration: none;
			&:hover{
				color: #fff;
			}
		}
	}
}


.bottomnav{
	float: left; 
	width: calc(100% - 235px);
	font-family: $font-family-sans-serif;
	ul{
		list-style: none;
		float: right;
		font-size: 16px;
		line-height: 45px;
	}
	li{
		float: left;
		padding: 0px 15px;
		color: #ccc;
		text-transform: lowercase;
		a{
			color: #ccc;
			text-decoration: none;
			&:hover{
				color: #fff;
			}
		}
	}
}